@media (min-width: 995px){
    .body__container {
        width: 80%;
    }

    .navbar__links {
        display: flex;
    }

    .ul__link {
        margin-right: 2rem;
    }
    
    .element--remove-desktop {
        display: none;
    }

    .main__container {
        margin-top: 8rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;
    }

    .main__figure {
        order: 1;
    }

    .main__section {
        width: 60%;
    }

    .section__title {
        font-size: 5.2rem;
    }

    .element--size-fourteen, .container--size-fourteen {
        font-size: 1.8rem;
    }

    .footer__container {
        margin: 15rem 0 0 0;
    }
}