:root {
    --gray: #4c4d4d;
    --blue: #4977ea;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.body__container {
    width: 90%;
}

.header__navbar {
    height: 6rem;
}

.element--flex, .container--flex {
    display: flex;
    align-items: center;
}

.element--flex--justify, .container--flex--justify {
    justify-content: space-between;
}

.element--margin, .container--margin {
    margin: 0 auto;
}

.main__figure {
    width: 27rem;
    height: 26rem;
    margin-top: 2rem;
}

.element--relative, .container--relative {
    position: relative;
}

.figure__image {
    height: 100%;
}

.element--width, .container--width {
    width: 100%;
}

.element--absolute, .container--absolute {
    position: absolute;
}

.figure__image-1 {
    transform: rotate(290deg);
}

.figure__image-2 {
    transform: rotate(305deg);
}

.figure__image-3 {
    transform: rotate(320deg);
}

.section__title {
    font-size: 4.2rem;
    font-family: 'Playfair Display', serif;
}

.element--line-height, .container--line-height {
    line-height: 1.6;
}

.element--color, .container--color {
    color: var(--gray);
}

.element--size-fourteen, .container--size-fourteen {
    font-size: 1.4rem;
}

.form__input {
    height: 5rem;
}

.form__input__email {
    padding-left: 2rem;
    outline: 0;
}

.element--margin-one, .container--margin-one {
    margin: 1rem 0;
}

.form__submit {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 0.6rem;
    background-color: var(--blue);
}

.form__input--border {
    border: transparent;
}

.footer__container {
    
}

.footer__container li {
    list-style: none;
}

.element--column-gap, .container--column-gap {
    column-gap: 1.5rem;
}


.ul__link {
    margin-right: 1rem;
    text-decoration: none;
}