@media (min-width: 624px){
    .body__container {
        width: 85%;
    }

    .main__figure {
        width: 32rem;
        height: 31rem;
    }

    .section__title {
        font-size: 4.8rem;
    }

    .element--size-fourteen, .container--size-fourteen {
        font-size: 1.6rem;
    }

    .section__form {
        max-width: 45rem;
        margin: 1rem 0;
    }

    .element--flex-table, .container--flex-table {
        display: flex;
        align-items: center;
    }

    .form__submit {
        padding: 0 1rem;
        flex: 1 1 30%;
    }

    .footer__container {
        margin: 5rem 0 4rem 0;
        justify-content: space-between;
    }

    .footer__list {
        margin: 0;
    }
}